
*{
   padding: 0;
   margin: 0;
   outline: none;
   font-family:  'Open Sans' , sans-serif;
   box-sizing: border-box;
}


:root{
    --bg-principal:#465950;
    --grey-color:rgb(48,56,67);
    --white-grey:#EDF2F4;
    --red-colorOne:#EE2449;
    --red-colorTwo:#D80536;
    --white:#fff;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.container{
    width: 70%;
    margin: auto;
}

.btn{
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.primary{
    background: #54CBEF;
    border-radius: 0.3rem;
}

.success{
    background: #38DB74;
    border-radius: 0.3rem;
}

.danger{
    background: #F67661;
    border-radius: 0.3rem;
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.pagination .btn{
    background: #516267a7;
}

body .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    z-index: 5;
    justify-content: center;
    align-items: center;
}

